.info {
    width: 75%;
}

.sidebar {
    width: 25%;
    margin-top: 96px;
}
.sidebar__about {
    position: sticky;
    top: 0;
}
.info-sidebar {
    display: flex;
}

.about__description {
    font-size: 12px;
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    text-align: justify;
    margin-bottom: 23px;
}

.about__h2 {
    font-size: 24px;
}

.about__social img {
    margin-right: 16px;
    width: auto;
}

.about__social img:last-of-type {
    margin-right: 0;
}

.sidebar ul > li {
    list-style: disc;
    padding: 0;
    color: #b4ad9e;
}

.sidebar li span {
    color: #626262;
}

.sidebar ul {
    display: block;
    margin: 0;
    margin-bottom: 55px;
}

.sidebar .about__post p {
    font-size: 16px;
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    
    cursor: pointer;
}

.sidebar.about__post .info__title {
    margin: 0;
}

.sidebar .about__post .post {
    margin-top: 72px;
    margin-bottom: 33px;
}